<html>
<head>
	<meta charset="utf-8">
	<title>Delivery</title>
			<script type="text/javascript" src="../js/jquery.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
	


</head>
<body >

	<div id="cabecalho">
		<label><font>Delivery Gerenciador</font></label>
	</div>
<div id="centro">
					<div id="sub-cabecalho">
	
					</div>

			   <div id="form">
			   		<div id="form-title"> 
			   			<label><font color="#ffffff">Cadastro de Produtos<font></label>
			   		</div>
			   		

			   			<div class="tabbable tabs-left">
						  <ul class="nav nav-tabs" id="painel-esquerda" >


						    <li class="active"><a href="#tab1" data-toggle="tab"><font color="#48990E">Cadastrar Fornecedor</font></a></li>
    						<li><a href="#tab2" data-toggle="tab"><font color="#48990E">Atualizar Fornecedor</font></a></li>
    						<li><a href="#tab3" data-toggle="tab"><font color="#48990E">Excluir Fornecedor</font></a></li>
						  </ul>
						  <div class="tab-content">
						    <div class="tab-pane active" id="tab1" >
						   	<form class="form-horizontal">
						   		<fieldset>
						   			
									   <table class="form">
											<tr>
												<td>
													<label>descrição</label>
													<input type="text" class="input-xxlarge" placeholder="descrição do produto"/>
												</td>
											</tr>
											<tr>
												<td>
													<label>preço</label>
													<input type="text" placeholder="preço para venda"/>
												</td>
											</tr>
											<tr>
												<td>
													<label>custo</label>
													<input type="text" class="input-small" />
												</td>
										
											</tr>
											<tr>
												<td>
													<label>tempo de preparo</label>
													<input type="text" class="input-small" />
												</td>
										
											</tr>

											<tr>
												<td height="80px">
													<button class="btn" type="button">Salvar</button>
													<button class="btn" type="button">Cancelar</button>
												</td>
											</tr>
										</table>

								</fieldset>
								</form>
					

						    </div>
						    <div class="tab-pane" id="tab3">
						      	<div id="form-right">
						      	</div>
						    </div>
						  </div>
						</div>

						
							
			   		
				</div>


	</div>

	<div id="rodape">

	</div>

	
</body>
</html>

