<html ng-app="Login">
<head>
	<meta charset="utf-8">
	<title>Delivery</title>
			
			<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
			<script type="text/javascript" src="../js/angular.min.js"></script>
			<script type="text/javascript" src="../angular/controller/empresaController.js"></script>
			<script type="text/javascript" src="../js/bootstrap.js"></script>
			<script type="text/javascript" src="../js/bootstrap.min.js"></script>

			<!--script type="text/javascript" src="../angular/app.js"></script-->
			

			<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="../css/principal.css">
	


</head>
<body ng-controller="CadastrarEmpresaInicio as inicio">

	<div id="cabecalho">
		<label><font>Delivery Gerenciador</font></label>
	</div>
<div id="centro" >

		<!--Contem os primeiros dados a ser preenchido e o banner de apresentação do aplicativo-->
		<div id="anuncio">
			<div id="banner">
			</div>
				<font><center>Preencha os campos abaixo para se cadastrar</center></font>	
				<table>
					<tr>
						<td>
							
							<input type="text" name="nome" class="input-xxlarge"  ng-model="nome" required="true" placeholder="Minha emoresa" ng-model="name"/>
						</td>	
						<td>
							<input type="text" name="cpfCnpj" class="input-large" ng-model="cpfCnpj" required="true" placeholder="CPF ou CNPJ somente numeros"/>
						</td>
						<td style="padding-top: 10px; padding-left: 5px; padding-right: 25px;">
							<button class="btn btn-primary" ng-click="redirect()">Cadastrar minha empresa</button>
						</td>
					</tr>
				</table>
		</div>
		<div id="login">
			<label>
				<font color="#555555" style="font-size: 18px;">
					Login
				</font>
			</label>
			<br />
			<form class="form-horizontal">
				<label>Nome de Usuario</label>
				<input type="text" class="input-large"/>
				<label>Senha</label>
				<input type="text" class="input-large"/><br /><br />
				<button class="btn btn-primary" type="button">Entrar</button>
			</form>
			<label><a href="#">Esqueceu sua senha</a></label>
		</div>

	</div>

	<div id="rodape">

	</div>

	
</body>
</html>

