										<form class="form-horizontal">
								   			<fieldset>	
											   <table >											
													<tr>
														<td>
															<fieldset>
																<label>Tipo de Empresa</label>
																<select ng-model="tipo" id="tipo" >
																	<option value="A"> Alimentos </option>
																	<option value="U"> Utilitários</option>
																	<option value="S"> Serviços</option>
																</select>
																<i class="icon-ok" ng-show="isValidTipo()"></i>
															</fieldset>
														</td>
													</tr>											
													
													<tr>
														<td data-ng-init="getEstados()">
															<table style="padding-right: 10px;">
																<tr>
																	<td style="padding-right: 10px;">
																		<label>Estado</label>
																		<select  ng-options="estado.nome for estado in estados" ng-model="estado" ng-change="getCidades()">
																			<option value="">Selecione seu estado</option>
																		</select>
																	</td>
																	<td>
																		<label>Cidade</label>
																		<select ng-options="cidade.nome for cidade in cidades" ng-model="cidade" ng-change="getLatitudeLongitude()">
																			<option value="">Selecione sua cidade</option>
																		</select>
																		<i class="icon-ok" ng-show="isValidCidade()"></i>
																	</td>
																</tr>
																
															</table>
														</td>
													</tr>
													<tr style="padding: 51px;">
															<td style="padding-right: 10px;">
																<fieldset>
																	<label>Bairro <i class="icon-ok" ng-show="isValidBairro()"></i></label>
																		<input type="text" ng-model="bairro" ng-blur="getLatitudeLongitude()"class="input-xxlarge"  placeholder="informe o bairro" required/>
																		
																</fieldset>
															</td>																
													</tr>
													<tr>
														<td>
															<label>Endereço</label>
															<input type="text" ng-model="endereco" ng-blur="getLatitudeLongitude()" class="input-xxlarge" placeholder="informe o endereço" required/>
															<i class="icon-ok" ng-show="isValidEndereco()"></i>
														</td>
													</tr>
													
													
													<tr>
														<td>
															<table>
																<tr style="padding: 51px;">
																	<td>
																		<fieldset>
																			<label>Numero</label>
																			<input type="text" ng-model="numero" class="input-small" placeholder="informe o numero"/>
																			<i class="icon-ok" ng-show="isValidNumero()"></i>
																		<fieldset>
																	</td>	
																	<td style="padding-right: 10px;">
																		<fieldset>
																			<label>CEP</label>
																			<input type="text" ng-model="cep" class="input-large" placeholder="CEP apenas numeros"/>
																		</fieldset>
																	</td>																	
																</tr>
																<tr style="padding: 51px;">
																	<td style="padding-right: 10px;">
																		<fieldset>
																			<label>Telefone Fixo</label>
																			<input type="text" ng-model="telFixo" class="input-large" placeholder="informe o telefone fixo"/>
																		</fieldset>
																	</td>
																	<td>
																		<fieldset>
																			<label>Telefone Celular</label>
																			<input type="text" ng-model="telMovel" class="input-large" placeholder="informe um celular"/>
																		<fieldset>
																	</td>
																</tr>
																
															</table>													
														</td>
													</tr>
													<tr>
														<td>
															<label>email</label>
															<input type="email" ng-model="email" class="input-xxlarge" placeholder="informe um email como nome de usuario"/>
														</td>
													</tr>
													<tr>
														<td>
															<table>
																		
																<tr>										
																	<td style="padding-right: 10px;">
																		<label>Senha</label>
																		<input type="password" ng-model="senha" class="input-medium" placeholder="minimo 8 caracteres"/>
																	</td>
																	<td>
																		<label>Confirme a senha</label>
																		<input type="password" ng-model="senha" class="input-medium" placeholder="minimo 8 caracteres"/>
																	</td>										
																</tr>
															</table>
														</td>
													</tr>											
												</table>
												
											</fieldset>
										</form>	